<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container align-middle">
        <h1>Page de connexion</h1>
        <form action="/authenticate" method="post">
            <label for="password">Entrez le mot de passse (4 digits):</label><br>
            <input type="password" id="password" name="password" pattern="[0-9]{4}" title="Please enter a 4-digit number" required><br><br>
            <input type="submit" value="Soumettre">
        </form>
        {% if error %}
            <p style="color: red;">Invalid password. Please try again.</p>
        {% endif %}
    </div>
    <script>
        if ( reading.length == 4 ) {
            document.getElementById("password").value = reading;
        }
    </script>
</body>
</html>
